<form class="custom-form" (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <mat-form-field class="custom-full-width">
      <mat-label>Artifact Path</mat-label>
      <input matInput [formControl]="artifactFormControl" [errorStateMatcher]="matcher"
             placeholder="custom: artifactory-ha/docker-prod-local/docker-app/66">
      <mat-error *ngIf="artifactFormControl.hasError('required')">
        Artifact Path is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Search</button>
  </form>